:root {
  --radius: 10px;
  --width: 200px;
}

.dropdown {
  position: relative;
}

.dropdown .button {
  height: 32px;
  min-width: var(--width);
  border-radius: var(--radius);
  background-color: #d3d3d3;
  padding: 0.5rem;
  overflow: hidden;
  text-align: center;
  align-items: center;
  cursor: pointer;

  border-style: solid;
  border-width: thin;
  border-color: #1f1f21;
}

.dropdown .button.open {
  border-radius: var(--radius) var(--radius) 0 0;
}

.dropdown .item-container {
  position: absolute;
  background-color: #ebecf0;
  border-style: solid;
  border-width: thin;
  border-color: #1f1f21;
}

.dropdown .item {
  height: 30px;
  min-width: var(--width);
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  text-align: center;
}

.dropdown .text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-transform: uppercase; */
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #1f1f21;
}

.dropdown .separator {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

.dropdown .button .text .selectedDate {
  font-weight: bold;
}
