:root {
  --radius: 10px;
  --width: 200px;
  --width-600: 150px;
}

.dropdown {
  position: relative;
}

.dropdown .button {
  height: 32px;
  min-width: var(--width);
  border-radius: var(--radius);
  background-color: #d3d3d3;
  padding: 0.5rem;
  overflow: hidden;
  text-align: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  border-style: solid;
  border-width: thin;
  border-color: #a9a9a9;
}

.dropdown .button.open {
  border-radius: var(--radius) var(--radius) 0 0;
}

.dropdown .item-container {
  position: absolute;
  background-color: #ebecf0;
  border-style: solid;
  border-width: thin;
  border-color: #a9a9a9;
}

.dropdown .item {
  height: 30px;
  min-width: var(--width);
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  text-align: center;
}

.dropdown .text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #404040;
}

.dropdown .button .text .selected-date {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .dropdown .button {
    height: 28px;
  }

  .dropdown .text {
    font-size: 14px;
  }

  .dropdown .button,
  .dropdown .item {
    min-width: var(--width-600);
  }
}
