.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard .spinner {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .data {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1084px;
}

.dashboard .column .card {
  margin: 1rem;
}

.dashboard .column .card.status {
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.dashboard .column .card .status-title {
  margin-bottom: 0.7rem;
}

.dashboard .column .weight {
  display: flex;
}

@media screen and (max-width: 1084px) {
  .dashboard .data {
    flex-direction: column;
  }

  .dashboard .column .card.status {
    margin-right: 1rem;
  }
}
