.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard .spinner {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .data {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1084px;
}

.dashboard .column .card {
  margin: 1rem;
}

.dashboard .column .card.status {
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.dashboard .column .card .status-title {
  margin-bottom: 0.7rem;
}

.dashboard .column .weight {
  display: flex;
}

@media screen and (max-width: 1084px) {
  .dashboard .data {
    flex-direction: column;
  }

  .dashboard .column .card {
    margin: 0.75rem;
    padding: 1.5rem;
  }

  .dashboard .column .card.status {
    margin-right: 1rem;
  }

  .dashboard .column .card .card-title {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .dashboard .column .card {
    margin: 0.5rem;
    padding: 1rem;
  }

  .dashboard .column .card.status {
    margin-right: 0.5rem;
  }

  .dashboard .column .card .card-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .dashboard .column .card {
    margin: 0.25rem;
    padding: 0.75rem;
  }

  .dashboard .column .card.status {
    margin-right: 0.25rem;
  }
}
