.header {
  background: #a2aedc;
  color: white;
  padding: 1rem 3rem;
}

.header .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1084px;
  margin: auto;
}

.header .content .left {
  display: flex;
  flex-direction: row;
}

.header .content .left .icon {
  height: 56px;
  width: 56px;
  margin-right: 1.4rem;
}

.header .content .left .text {
  font-size: 30px;
  letter-spacing: -0.5px;
  margin-top: 14px;
  word-spacing: -5px;
  font-weight: 500;
  font-family: monospace;
}

.header .content .left .text .scale-data {
  font-weight: 600;
  color: #232f5c;
}

@media screen and (max-width: 800px) {
  .header .content {
    flex-direction: column;
    justify-content: center;
  }

  .header .content .left {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .header .content .left {
    margin-bottom: 0.5rem;
  }

  .header .content .left .icon {
    height: 45px;
    width: 45px;
    margin-right: 1rem;
  }

  .header .content .left .text {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    color: #232f5c;
  }

  .header .content .left .text .scale-data {
    display: none;
  }
}
